---
---

<!DOCTYPE HTML>
<html>
	<head>
    <title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Voces" rel="stylesheet">
	</head>
	<body>

			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#about">About</a></li>
							<li><a href="#documentation">Documentation</a></li>
							<li><a href="https://github.com/PatternFM/spin">Source Code</a></li>
							<li><a href="https://travis-ci.org/PatternFM/spin">Travis CI</a></li>
	            <li><a href="https://codebeat.co/projects/github-com-patternfm-spin-master">CodeBeat</a></li>
							<li><a href="https://coveralls.io/github/PatternFM/spin">Coveralls</a></li>
							<li><a href="https://github.com/PatternFM/spin/blob/master/LICENSE.txt">License</a></li>
						</ul>
					</nav>
				</div>
			</section>

			<div id="wrapper">
					<section id="about" class="wrapper style3 fullscreen fade-up overview">
						<div class="inner">
							<h1>spin</h1>
							<p>The Spin framework allows you to seamlessly start and stop your microservices infrastructure as part of a JUnit test run.</p>
							<ul class="actions">
								<li><a href="#documentation" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

					<section id="documentation" class="wrapper style2 spotlights">
						<div class="inner">
							{{content}}
						</div>
					</section>
			</div>

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
	</body>
</html>
